<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>

  
   
  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
    
  </div>

  <!-- Khoa Edit -->

  <a href="#" id="subscribeLink" class="dark-theme-link" style="font-family: 'Menlo', 'Meslo LG', 'monospace'; font-style: italic; font-size: 12px;">-> Never miss a beat, click here to subscribe to the blog</a>

  <div id="subscribeDialog" style="display:none;">
    <input type="email" id="emailInput" placeholder="Enter your email" required style="font-family: 'Menlo', 'Meslo LG', 'monospace'">
    <button id="submitEmailButton" class="dark-theme-button" style="font-family: 'Menlo', 'Meslo LG', 'monospace'">Submit</button>
  </div>

  <style>
    .dark-theme-link {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
      font-family: 'Vazir-Regular', sans-serif;
    }

    .dark-theme-link:hover {
      color: #aaa;
    }

    .dark-theme-button {
      background-color: #333;
      color: #fff;
      border: 1px solid #555;
      padding: 5px 8px;
      cursor: pointer;
      border-radius: 10px;
      font-family: 'Vazir-Regular', sans-serif;
    }

    .dark-theme-button:hover {
      background-color: #555;
    }

    #subscribeDialog {
      background-color: #222;
      color: #fff;
      padding: 10px;
      border: 1px solid #444;
      width: 300px;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
    }

    #emailInput {
      background-color: #333;
      color: #fff;
      border: 1px solid #555;
      padding: 10px;
      width: calc(100% - 22px);
      margin-bottom: 10px;
    }
  </style>

  <script>
    document.getElementById('subscribeLink').addEventListener('click', function(event) {
      event.preventDefault();
      var dialog = document.getElementById('subscribeDialog');
      if (dialog.style.display === 'none' || dialog.style.display === '') {
        dialog.style.display = 'block';
      } else {
        dialog.style.display = 'none';
      }
    });

    document.getElementById('submitEmailButton').addEventListener('click', submitEmail);
    document.getElementById('emailInput').addEventListener('keypress', function(event) {
      if (event.key === 'Enter') {
        submitEmail();
      }
    });

    function submitEmail() {
      var email = document.getElementById('emailInput').value;
      if (email) {
        api = 'https://api.khoah.net/subscribe?email=';
        window.open(api + encodeURIComponent(email), '_blank');
        document.getElementById('subscribeDialog').style.display = 'none';
      } else {
        alert('Please enter a valid email address.');
      }
    }
  </script>

  <!-- End Khoa Edit -->

</article>
<%- partial('_partial/comments') %>